html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: calc(0.2em + 0.8vw);
  font-weight: 400;
  line-height: 1.25em;
  color: #1b3659;
  background-color: hsl(203, 45%, 82%);
}

body {
  margin: 0;
}

header,
main,
footer {
  width: 96vw;
  padding: 0;
}

main {
  margin: 2vw 2vw 8vw;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  font-weight: 600;
}

h1 a {
  color: #1b3659;
  text-decoration: none;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #398cbf;
}

h2.page-title {
  margin-bottom: 1.5vw;
}

/* HEADER */
.page-header {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  margin: 0.7vw 2vw 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header ul {
  margin: 0;
  padding: 0;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 300;
}

.page-header li {
  display: inline-block;
}

.socials-nav img:hover,
.socials-nav img:focus {
  opacity: 1;
  transform: scale(1.1);
}

.socials-nav img {
  max-width: 2rem;
  height: auto;
  margin-left: 0.7vw;
  opacity: 0.7;
}

.main-nav li {
  margin-right: 3vw;
}

.main-nav a {
  color: #a7514a;
  text-decoration: none;
}

.main-nav a.active {
  text-decoration: underline;
  text-decoration-color: #a7514a;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a.active {
  text-decoration: underline;
  text-decoration-color: #a7514a;
}

/* MAIN ABOUT ME*/

.two-split {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 2.8vw;
}

@media only screen and (min-width: 700px) {
  .two-split {
    justify-content: space-around;
  }
  .two-split figure,
  .two-split img,
  .two-split video {
    max-width: 40vw;
    height: auto;
    margin: 0;
  }
  .text-block {
    max-width: 40vw;
  }

  .left {
    margin-right: 1vw;
  }

  .right {
    margin-left: 1vw;
  }
}

@media only screen and (max-width: 699px) {
  .two-split {
    justify-content: flex-start;
    max-width: 80vw;
    margin: 0 auto 2.8vw;
  }

  .two-split figure {
    margin: 0 0 1vw;
  }

  .two-split figure,
  .two-split img,
  .two-split video {
    max-width: 80vw;
    height: auto;
    order: 2;
  }

  .text-block {
    max-width: 80vw;
  }
}

.text-block p {
  margin: 0.4vw 0 2vw;
}

.profile {
  margin: 0 0 1vw;
}

.two-split:last-child {
  margin-bottom: 5.6vw;
}

.two-split img,
.two-split video {
  display: block;
}

figure.bordered {
  border: 2px solid #1b3659;
}

blockquote {
  color: #1b3659;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-style: solid none;
  border-color: #1b3659;
  border-width: 2px;
  width: 67vw;
}

blockquote p {
  color: black;
  opacity: 0.5;
}

.centered {
  text-align: center;
}

/* PROJECTS SUMMARY PAGE */
.projecten-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.projecten-container article {
  margin-bottom: 2vw;
}

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1199px) {
  .projecten-container article {
    max-width: 46vw;
  }

  .projecten-container figure,
  .projecten-container img {
    max-width: 24vw;
  }

  .projecten-container p {
    max-width: 19vw;
  }
}

@media only screen and (min-width: 1200px) {
  .projecten-container article {
    max-width: 30vw;
  }

  .projecten-container figure,
  .projecten-container img {
    max-width: 16vw;
  }

  .projecten-container p {
    max-width: 12vw;
  }
}

.projecten-container figure {
  display: inline-block;
  height: 100%;
  margin: 1.4vw 0 0 0;
}

.projecten-container p {
  display: inline-block;
  margin-left: 1vw;
  font-size: 1rem;
  line-height: 1.25rem;
}

.projecten-container img {
  display: block;
}

.project-summary {
  text-decoration: none;
  color: #1b3659;
}

/* CONTACT FORM*/
.contact-form {
  max-width: 60vw;
  margin: 0 auto;
}

.contact-form ul {
  margin: 1.4vw 0;
  padding: 0;
  list-style-type: none;
}

.contact-form ul li {
  display: block;
  margin: 0.5vw 0;
}

.contact-form input,
.contact-form textarea {
  width: 59vw;
  padding: 0 0.7vw;
  border: 0;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #1b3659;
  color: white;
}

.contact-form textarea {
  height: 30vh;
  max-height: 45vh;
  resize: vertical;
}

.contact-form button {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #a8c9de;
  border: 0.4vw solid #1b3659;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* FOOTER */
.page-footer {
  padding: 0 2vw;
  border-top-style: solid;
  border-color: #1b3659;
  border-width: 2px;
  background-color: #a7514a;
  position: fixed;
  bottom: 0;
}

.page-footer address,
.page-footer p {
  margin: 0.7vw 0;
}

.page-footer a {
  color: #1b3659;
  text-decoration: underline;
}

/* links */
p a,
a h2 {
  text-decoration: none;
  color: hsl(203, 64%, 49%);
}

p a:hover,
a.project-summary:hover h2 {
  text-decoration: underline;
}
