html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #1b3659;
  background-color: #a8c9de;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 88px;
  line-height: 88px;
  font-weight: 600;
}

h2 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
  color: #398cbf;
}

.text-block {
  max-width: 600px;
}

.text-block p {
  margin: 5px 0 20px;
}

/* HEADER */
.page-header {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  margin: 10px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header ul {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}

.page-header li {
  display: inline-block;
}

.socials-nav img:hover,
.socials-nav img:focus {
  opacity: 1;
  transform: scale(1.1);
}

.socials-nav img {
  max-width: 30px;
  height: auto;
  margin-left: 10px;
  opacity: 0.7;
}

.main-nav li {
  margin-right: 60px;
}

.main-nav a {
  color: #a7514a;
  text-decoration: none;
}

.main-nav a.active {
  text-decoration: underline;
  text-decoration-color: #a7514a;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a.active {
  text-decoration: underline;
  text-decoration-color: #a7514a;
}

/* MAIN ABOUT ME*/
main {
  margin: 30px;
}

section#introduction {
  margin: 40px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#introduction figure {
  max-width: 600px;
  height: auto;
  justify-self: right;
  padding-right: 10px;
  margin: 0;
}

#introduction img {
  max-width: 600px;
  height: auto;
}

#introduction .text-block {
  padding-left: 10px;
}

blockquote {
  color: #398cbf;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-style: solid none;
  border-color: #1b3659;
  border-width: 2px;
  width: 1000px;
}

blockquote p {
  color: black;
  opacity: 0.5;
}

/* PROJECTS SUMMARY PAGE */
.projecten-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projecten-container figure {
  max-width: 250px;
  height: auto;
  margin: 20px 10px 0 0;
  border: 2px solid #1b3659;
}

.projecten-container img {
  display: block;
  max-width: 250px;
  height: auto;
}

.project-summary {
  text-decoration: none;
}

/* CONTACT FORM*/
.contact-form {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.contact-form ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.contact-form ul li {
  display: block;
  margin: 8px 0;
}

.contact-form input,
.contact-form textarea {
  width: 370px;
  padding: 0 10px;
  border: 0;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  background-color: #1b3659;
  color: white;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  background-color: #a8c9de;
  border: 5px solid #1b3659;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* FOOTER */
.page-footer {
  width: 100%;
  padding: 0;
  border-top-style: solid;
  border-color: #1b3659;
  border-width: 2px;
  background-color: #a7514a;
  position: absolute;
  bottom: 0;
}

.page-footer .content {
  margin: 0 30px;
}

.page-footer address,
.page-footer p {
  margin: 10px 0;
}

.page-footer a {
  color: #1b3659;
  text-decoration: underline;
}
